<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

   <h1 class="header"> Welcome to the Solar System!</h1>

  
  <%- include("partials/menu") %>
  <img src="/img/solar system.png" alt="Solar System" width="800px"> 

  <p> The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly. Of the objects that orbit the Sun directly, the largest are the eight planets, with the remainder being smaller objects, the dwarf planets and small Solar System bodies. </p>
  
    <hr>
    <%- include("partials/footer") %>
   
  
</body>
</html>