<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

   <h1 class="header"> Welcome to Mars!</h1>

  
  <%- include("partials/menu") %>
  <img src="/img/mars.png" alt="Mars" width="800px">

  <p> Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. In English, Mars carries the name of the Roman god of war and is often referred to as the "Red Planet" </p>
  
    <hr>
    <%- include("partials/footer") %>
   
  
</body>
</html>