<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

  <h1 class="header"> Welcome to Mercury!</h1>

  
  <%- include("partials/menu") %>
  <img src="/img/mercury.png" alt="Mercury" width="800px">

  <p> Mercury is a chemical element with the symbol Hg and atomic number 80. It is commonly known as quicksilver and was formerly named hydrargyrum. </p>
  
    <hr>
    <%- include("partials/footer") %>
  
</body>
</html>