<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>

  <h1 class="header"> Welcome to Venus!</h1>

  
  <%- include("partials/menu") %>
  <img src="/img/venus.png" alt="venus" width="800px">

  <p> Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the brightest natural object in Earth's night sky after the Moon, Venus can cast shadows and can be, on rare occasions, visible to the naked eye in broad daylight. </p>
  
    <hr>
    <%- include("partials/footer") %>
   
  
</body>
</html>